.btn-custom{
   background: aquamarine;
   color: white;
}
.btn-custom:hover{
    background: aquamarine;
    color: black;
}
/* body-1 */
.btn-custom{
    background-color: aquamarine;
}
.custom-text{
    margin-top: -700px;
}

.abc{
    margin-top: -600px;
}
/* body-3 */
.custom-color{
    background-color: aqua;
}
/* body-4 */
.icon{
    margin-left: 650px;
   
}
/* body-5 */
/* body-6 */
.sixth{
    background-image: url('images/bg-\ 4.jpg') ;
   height: 100vh;
}
.container-second{
    margin-left: 900px;
    margin-top: -500px;
}
/* body-7 */
.seventh{
    margin-top: 100px;
}
/* body-8 */
.Eight{
    background-image: url('images/bg-5.jpg');
    background-color: bisque;
    height: 80vh;
    opacity: 0.6;
}